.titleCol {
  max-width: 40%;
  cursor: pointer;
}

.genreCol {
  width: 15%;
  cursor: pointer;
}

.dueCol {
  width: 14%;
  cursor: pointer;
}

.rateCol {
  width: 14%;
  cursor: pointer;
}

.deleteCol {
  width: 12%;
}

.likeCol {
  width: 5%;
}

.fa-sort{
    opacity: 0.3;
}

.taskTitle{
  color: #2e77a5;
}

.taskTitle:hover{
  color: #418bec;
  text-decoration: none;
}

.taskTableInfo{
  vertical-align: middle !important;
}